*{

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
    
.debug{
    border: 1px solid red;
}

.contained-head,
.contained-foot{
    width: 100vw;
    height: 80px;
}

.contained-head,
main .bg-jade,
main .bg-ash{
    color: #fff;
}

.bg-jade{
    background-color: #1abc9c;
}

.bg-ash{
    background-color: #3a546d;
    color: #fff;
}

footer{
    color: #fff;
}

.main-contain{
    width: 100vw;
}

.bg-citycamo{
    background-color: #2c3e50;
}
/*----media----*/

@media screen and (min-width: 768px){
    .contained-foot{
        height: 100px;
    }
}

.align-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 2rem;
    text-align: center;
}

h5{
    font-size: 1rem;
    text-align: center;
}

.h-40{
    max-height: 10rem;
}

.no-bg-brdr{
    background-color: transparent;
    border: none;
}

.barra{
    height: 3px;
    width: 80px;
    border-radius: 25px;
    background-color: rgb(49, 49, 49);
}

.deco-one{
    color: rgb(49, 49, 49);
}